nav {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: rgb(28, 28, 27);
    position: sticky;
    top: 0;
    margin-bottom: 1rem;
}

.navLinks {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.link {
    text-decoration: none;
    color: white;
    border-radius: 5px;
    padding: 5px;
}

.active {
    background-color: #282826;
}